<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgresPlusDialect</property>

        <property name="connection.url">jdbc:postgresql://localhost:5432/my_database</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">admin</property>

        <!-- 设置在第一次插入表格时会自动执行建表的ddl sql -->
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping resource="package/firstentity.hbm.xml"/>
        <mapping resource="package/secondentity.hbm.xml"/>

        <!-- TODO. 1. table per class hierarchy 只有一个数据表
             设置的文件在添加mapping绑定的时候，如果有jpaEntityName重复则报错 -->
        <mapping resource="package/subclass/abstractsuperclass.hbm.xml"/>
        <mapping resource="package/subclass/firstsubclass.hbm.xml"/>
        <mapping resource="package/subclass/secondsubclass.hbm.xml"/>

        <!-- TODO. 2. table per subclass Super数据表和subclass表使用index来级联 -->
        <mapping resource="package/joined.subclass/superclass.hbm.xml"/>
        <mapping resource="package/joined.subclass/superclass2.hbm.xml"/>

        <!-- TODO. 3. table per concrete class 子表包含全部的信息
        <mapping resource="package/union.subclass/superclass.hbm.xml"/>
        <mapping resource="package/union.subclass/superclass2.hbm.xml"/> -->

        <mapping resource="mapping/event.hbm.xml"/>
        <mapping resource="mapping/fees.hbm.xml"/>

        <!-- 测试mapping中的any和component关联: 要存储的表都需要添加关联 -->
        <mapping resource="any/myanyclass.hbm.xml"/>
        <mapping resource="any/classmodel1.hbm.xml"/>
        <mapping resource="any/classmodel2.hbm.xml"/>

        <!-- 使用Mapping文件中定义的查询语句 -->
        <mapping resource="query/namedqueries.hbm.xml"/>

        <!-- 指定映射的类型Entity Class: 类型的全路径中不能包含特殊单词 -->
        <mapping class="jpa.annotations.entity.entity.Person"/>
        <mapping class="jpa.annotations.entity.package1.Person"/>
        <mapping class="jpa.annotations.entity.entity.Sample"/>

        <mapping class="jpa.annotations.entity.inheritance.SuperClassEntity"/>
    </session-factory>
</hibernate-configuration>